<div id="container">
<div class='huntTitle'>
  <h2>Treasure Hunter</h2>
</div>



<!-- Index Page -->
<div class='indexView'>
  <div class='indexView'>

    <h1>The Master Hunts List</h1>
    <h3>Your Huntmaster has made the following hunts available to play.</h3>
    <h3>Click the title to see your start location and time.</h3>
    <div class='huntList'>
    <ul>

    </ul>
    </div>

  </div>

  <div class='huntList'>
    <ul>
    </ul>
  </div>

</div>
<div class='huntmasterView display'>
  <div class='huntMasterDisplay'>

  </div>
  <nav>
    <ul class='huntTabs' data-id='2'>
      <li class='huntMasterDetails huntMasterNav'><p>Hunt Details</p></li>
      <li class='huntMasterClues huntMasterNav'><p>Clues</p></li>
    </ul>
  </nav>

</div>

<!-- Huntmaster View Page -->
<div class='huntMasterView display'>
test

</div>

<!-- Hunter View Page -->
<div class='huntView display'>
  <div class='huntTitle'>
    <h2>Treasure Hunter</h2>
  </div>

  <div class='huntDisplay'>


  </div>

  <nav>
    <ul class='huntTabs' data-id='2'>
      <li class='huntDetails huntNav'><p>Hunt Details</p></li>
      <li class='huntClues huntNav'><p>Clues</p></li>
      <li class='huntMap huntNav'><p>Map</p></li>
      <li class='huntLeader huntNav'><p>Leaderboard</p></li>
    </ul>
  </nav>

</div>