<div id="container">
  <div class='huntTitle'>
    <h2>Treasure Hunter</h2>
  </div> <!-- end huntTitle -->





  <!-- Index Page -->
  <div class='indexView'>

      <button class='addHunt'>+</button>

      <div class='huntList'>
        <ul>
        </ul>
      </div> <!-- end huntList -->

  </div> <!-- end indexView -->


  <!-- Huntmaster View Page -->
  <div class='huntMasterView display'>

    <button class='goBack'>Back</button>

    <div class='huntMasterDisplay'>

    </div> <!-- end huntMasterDisplay -->

    <nav>
      <ul class='huntMasterTabs' data-id='2'>
        <li class='huntMasterDetails huntMasterNav'><p>Hunt Details</p></li>
        <li class='huntMasterClues huntMasterNav'><p>Clues</p></li>
      </ul>
    </nav>
    <div class='add_participants_modal'>
      <div>
        This is the modal.
      </div>
    </div>
  </div> <!-- end huntMasterView -->



  <!-- Hunter View Page -->
  <div class='huntView display'>

    <button class='goBack'>Back</button>

    <div class='huntDisplay'>

    </div> <!-- end huntDisplay -->

    <nav>
      <ul class='huntTabs' data-id='2'>
        <li class='huntDetails huntNav'><p>Hunt Details</p></li>
        <li class='huntClues huntNav'><p>Clues</p></li>
        <li class='huntMap huntNav'><p>Map</p></li>
        <li class='huntLeader huntNav'><p>Leaderboard</p></li>
      </ul>
    </nav>

  </div> <!-- end huntView -->
</div> <!-- end container -->

<div class='mapView'>
  <h1>Create a New Hunt Location</h1>

  <p>Enter an address at or near the new hunt location</p>

    <input type = "text" id = "address" style = 'width: 600px' placholder="Enter address to search">
    <input type = "button" id = "searchButton" value = "Search for this address">
  <p>OR</p><input type = "button" id = "currentLocButton" value = "Click here for current location">

  <div id="coordinates">

    <form class='addLocation'>
      <input type='text' id='location_lat' placeholder='Latitude' />
      <input type='text' id='location_long' placeholder='Longitude' />
      <input type='submit' />
    </form>
  </div>

  <a href="http://www.cnn.com">Add a direction clue for this location</a></br>
  <a href="http://www.theonion.com">Add a treasure clue for this location</a>

  <div id = "map-canvas" style="height: 200px">

  </div>
</div>
