<div id="container">

  <h1>The Master Hunts List</h1>
  <h3>Your Huntmaster has made the following hunts available to play.</h3>
  <h3>Click the title to see your start location and time.</h3>

  <div id="hunts_list">
    <%= @hunts.each do |hunt| %>
      <a href="<%= hunt.title.id %>"><%= hunt.title %></a><br>
                                     <%= hunt.description %><br>
    <% end %>
  </div>

   <a href="/">Back to main.</a>

</div>