<div id="container">
  <div class='huntTitle'>
    <h2>Treasure Hunter</h2>
  </div> <!-- end huntTitle -->





  <!-- Index Page -->
  <div class='indexView'>

      <button class='addHunt'>+</button>

      <div class='huntList'>
        <ul>
        </ul>
      </div> <!-- end huntList -->

  </div> <!-- end indexView -->





  <!-- Huntmaster View Page -->
  <div class='huntMasterView display'>

    <button class='goBack'>Back</button>

    <div class='huntMasterDisplay'>

    </div> <!-- end huntMasterDisplay -->

    <nav>
      <ul class='huntMasterTabs' data-id='2'>
        <li class='huntMasterDetails huntMasterNav'><p>Hunt Details</p></li>
        <li class='huntMasterClues huntMasterNav'><p>Clues</p></li>
      </ul>
    </nav>

  </div> <!-- end huntMasterView -->





  <!-- Hunter View Page -->
  <div class='huntView display'>

    <button class='goBack'>Back</button>

    <div class='huntDisplay'>


    </div> <!-- end huntDisplay -->

    <nav>
      <ul class='huntTabs' data-id='2'>
        <li class='huntDetails huntNav'><p>Hunt Details</p></li>
        <li class='huntClues huntNav'><p>Clues</p></li>
        <li class='huntMap huntNav'><p>Map</p></li>
        <li class='huntLeader huntNav'><p>Leaderboard</p></li>
      </ul>
    </nav>

  </div> <!-- end huntView -->
</div> <!-- end container -->