<div id="container">
  <div class='huntTitle'>
    <h2>Treasure Hunter</h2>
  </div> <!-- end huntTitle -->





  <!-- Index Page -->



  <div class='indexView'>

      <button class='addHunt'>+</button>

      <div class='huntList'>
        <ul>
        </ul>
      </div> <!-- end huntList -->

  </div> <!-- end indexView -->


  <!-- Huntmaster View Page -->
  <div class='huntMasterView display'>

    <button class='goBack'>Back</button>

    <div class='huntMasterDisplay'>

    </div> <!-- end huntMasterDisplay -->

    <div class='mapView display'>
      <h2>Create a New Hunt Location</h2>
      <p>Enter an address at or near the new hunt location</p>

      <input type = "text" id = "address" style = 'width: 600px' placholder="Enter address to search">
      <input type = "button" id = "searchButton" value = "Search for this address">
      <input type = "button" id = "currentLocButton" value = "Click here for current location">

      <div id="coordinates">
        <form class='addLocation'>
          <input type='text' id='location_lat' placeholder='Latitude' />
          <input type='text' id='location_long' placeholder='Longitude' />
          <input type='text' id='location_name' placeholder='Location name' />
          <input type='text' id='clueQuestion' placeholder='Add a location clue...' />
          <input type='text' id='clueAnswer' placeholder='Add an answer...' />
          <input type='text' id='clueHint' placeholder='Add a proximity hint...' />
          <input type='submit' />
        </form>
      </div> <!-- end coordinates -->

      <div id = "map-foo">
      </div> <!-- end map-canvas -->

    </div>

    <nav>
      <ul class='huntMasterTabs'>
        <li class='huntMasterDetails huntMasterNav'><p>Hunt Details</p></li>
        <li class='huntMasterClues huntMasterNav'><p>Add Locations</p></li>
        <li class='huntMasterLocations huntMasterNav'><p>Hunt Locations</p></li>
      </ul>
    </nav>
  </div> <!-- end huntMasterView -->



  <!-- Hunter View Page -->
  <div class='huntView display'>

    <button class='goBack'>Back</button>

    <div class='huntDisplay'>

    </div> <!-- end huntDisplay -->
    <form class='answer display'>
      <input type='text' id='answer' name='answer' placeholder='Check your answer...' />
      <input type='submit' />
    </form>
    <h3 class='completed display' data-info='#{data.title}'>Completed Clues</h3>

    <div class="map mapDisplay display" id="huntMap"></div>
    <nav>
      <ul class='huntTabs'>
        <li class='huntDetails huntNav'><p>Hunt Details</p></li>
        <li class='huntClues huntNav'><p>Clues</p></li>
        <li class='huntMap huntNav'><p>Map</p></li>
        <li class='huntLeader huntNav'><p>Leaderboard</p></li>
      </ul>
    </nav>

  </div> <!-- end huntView -->
</div> <!-- end container -->
