<div id="container">
<!--   <div class='huntTitle'>
    <h2>Treasure Hunter</h2>
  </div>
 -->

  <!-- Index Page -->

  <div class='indexView'>

      <button id='hm_gateway' title='This will return you to the "Create a Hunt" form' class='addHunt'>Create a Hunt</button>

      <div class='huntList'>
        <ul class'huntlistul'>
        </ul>
      </div> <!-- end huntList -->

  </div> <!-- end indexView -->


  <!-- Huntmaster View Page -->
  <div class='huntMasterView display'>

    <button class='goBack' title='Return to hunt list to view existing hunts and create a new one'>Back to the Hunts List</button>

    <!-- Show location details in separate div -->
    <div class = 'selectedClue' id = 'clickedLocInfo'></div>
    <div class='errors'></div>
    <div class='huntMasterDisplay'>

    </div> <!-- end huntMasterDisplay -->

    <div class='mapView display'>
      <h2 style="text-align: center; letter-spacing: 5px; font-size: 30px">Create a New Treasure Location</h2>
      <p>Enter an address at or very near your new Treasure Location</p>

      <input type="text" id="address" class="resizedTextbox" placholder="Enter address to search">
      <input type="button" id="searchButton" class="resizedTextbox resizedButton" title='Use this if you know the address, landmark or intersection of the treasure location' value="Search for this address">
      <p>OR</p>
      <input type="button" id="currentLocButton" class="resizedTextbox" title="Select this button if you want to place a treasure at or near you right now" value = "Click to use your exact current location">

      <div id="coordinates">
        <form class='addLocation'>
          <input type='hidden' id='location_lat' class="resizedTextbox" placeholder='Latitude' />
          <input type='hidden' id='location_long' class="resizedTextbox" placeholder='Longitude' />
          <input type='text' id='location_name' class="resizedTextbox" placeholder='Treasure Location name' />
          <input type='text' id='clueQuestion' class="resizedTextbox" placeholder='Add Treasure clue #1...' />
          <input type='text' id='clueAnswer' class="resizedTextbox" placeholder='Add the clue answer...' />
          <input type='text' id='clueHint' class="resizedTextbox" placeholder='Add a hint to locate the Treasure...' />
          <input class='resizedButton' type='submit' />
        </form>
        <ul></ul>
      </div> <!-- end coordinates -->

      <div class = "outerMapFoo">
        <div id = "map-foo"></div>
      </div>
    </div>
    <div class='bottomSpacer'></div>
    <nav>
      <ul class='huntMasterTabs'>
        <li class='huntMasterDetails huntMasterNav' title='Shows date, time and starting location info'><p>Hunt Details</p></li>
        <li class='huntMasterClues huntMasterNav' title='Provide location and clue to add a new treasure to this hunt'><p>Add Locations</p></li>
        <li class='huntMasterLocations huntMasterNav' title="View a map showing the treasures you have found thus far"><p>Hunt Locations</p></li>
        <li class='huntMasterLeader huntMasterNav' title="Keep track of where the other hunters are!"><p>Leaderboard</p></li>
      </ul>
    </nav>
  </div> <!-- end huntMasterView -->



  <!-- Hunter View Page -->
  <div class='huntView display'>

    <button class='goBack'>Back</button>

    <div class='huntDisplay'>

    </div> <!-- end huntDisplay -->


    <div class='answerDiv'></div>
    <h3 class='completed display' data-info='#{data.title}'>Completed Clues</h3>

    <div class="map mapDisplay display" id="huntMap"></div>
    <div class='bottomSpacer'></div>
    <nav>
      <ul class='huntTabs clearfix'>
        <li class='huntDetails huntNav'><p>Hunt Details</p></li>
        <li class='huntClues huntNav'><p>Clues</p></li>
        <li class='huntMap huntNav'><p>Map</p></li>
        <li class='huntLeader huntNav'><p>Leaderboard</p></li>
      </ul>
    </nav>

  </div> <!-- end huntView display-->
</div> <!-- end container -->
