/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  height: 100%
}

body {
  height: 100%;
  margin: 10px;
  padding: 10px;
  /*background-image: url(treasure_chest.jpg);*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
}

.banner_color p {
  opacity: 1;
  z-index: -1;
}

.banner_background {
  background-image: url(treasuremap.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 20px 0;
  z-index: -1;
}

.banner_color {
  background: rgba(242,222,72, 0.2); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(242,222,72,1) 55%, rgba(254,252,236,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,rgba(242,222,72,1)), color-stop(100%,rgba(254,252,236,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(242,222,72,1) 55%,rgba(254,252,236,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(242,222,72,1) 55%,rgba(254,252,236,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(242,222,72,1) 55%,rgba(254,252,236,1) 100%); /* IE10+ */
  opacity: 0.8;
  /*margin: 20px;*/
  padding: 8px;
  /*border-radius: 4px;*/
  z-index: -1;
}

body {
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  /*background: url(paper.jpg);*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
   background-size: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

.clearfix:after {
  display: table;
  content: " ";
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

.huntTitle  {
  font-family: 'Glass Antiqua';
  font-size: 60px;
  letter-spacing: 14px;
  margin-top: 8px;
}

.compass {
  height: 90px;
  width: auto;
  float: left;
  padding: 0  px 10px 0 6px
}



  /*form fields*/
#formz, .participants, .participant_form, .addParticipants, .done, .start {
  font-size: 18px;
}

.sign_up_form, .sign_in_form, .forgot_form, .change_psw_form {
  padding-left: 25px;
}

  /* enlarging all forms and buttons */
  /* dot start is the start button when starting a hunt*/
.resizedTextbox{
  width: 350px;
  height: 17px;
  font-size: 18px;
  /*border-radius: 3px;*/
  margin-bottom: 10px;
  padding: 6px;
}

 .resizedButton, #resizedButton, .start {
  width: 200px;
  font-size: 16px;
  padding: 4px;
  margin: 4px 0 4px 5px;
 }

 /*buttons*/
#hm_gateway, .goBack {
  font-size: 20px;
  padding: 8px;
  float: right;
  margin-bottom: 16px
}

.authent, .notice, .alert, .authent a {
  float: right;
  padding-right: 12px;
  text-decoration: none;
}

.alert, .notice {
  padding-left: 10px;
}

.authent a:hover {
  color: gray;
}

#container {
  width: 100%;
  margin: auto;
}


.huntList {
  clear: both;
  width: 100%;
  margin-top: 20px;
}

.huntList h3 {
  clear: both;
  text-align: center;
  font-size: 30px;
}

.subtitle {
  font-size: 24px;
  letter-spacing: 2px;
  font-family: 'Raleway';
  margin: -45px 0 15px 400px;
}
/*
.huntListUL li {
    display: inline;
    float: left;
    clear: both;
    border: 2px solid blue;
}
*/

.indexView ul {
  width: 100%;
  padding: 0;
}

.huntList ul li {
  font-size: 20px;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 50px;
  padding: 13px;
  border: 2px solid #EDEDED;
  border-radius: 5px;
  background: linear-gradient(#A3A3A3, #EDEDED);
  width: 60%;
}

.details {
  border: 2px solid #EDEDED;
  background: linear-gradient(#A3A3A3, #EDEDED);
  margin: auto;
  margin-top: 20px;
  clear: both;
  padding: 5px 0 20px 30px;
  border-radius: 5px;
  width: 60%;
}

.display {
  display: none;
}

.outerMapFoo{
  /*position: relative;*/
  width: 100%;
}

#map-foo {
  width: 100%;
  height: 300px;
}

#huntMap {
  width: 100%;
  height: 300px;
}

.huntDisplay {
  height: 100%;
  /*width: 100%;*/
  font-size: 24px;
  padding: 10px 25px 0 25px;
  clear: both;

}

  /*----TABS----*/

.huntTabs, .huntMasterTabs {
  clear: both;
  width: 99%;
  /*height: 55px; XXXXXXXXXXXXXX */
  padding: 0px 0 0 10px;
  position: fixed;
  bottom: 0;
  background: white;
  margin-bottom: 0;
}

.huntMasterDetails.active, .huntMasterClues.active, .huntMasterLocations.active, .huntMasterLeader.active, .huntDetails.active, .huntClues.active, .huntMap.active, .huntLeader.active {
  background: #454d59;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #d0d2d5;
}

.huntTabs li, .huntMasterTabs li {
  list-style: none;
  display: inline;
  font-size: 30px;
  float: left;
}

.huntTabs:hover, .huntMasterTabs:hover {
  cursor: pointer;
}

.huntDetails, .huntClues, .huntMap, .huntLeader, .huntMasterDetails, .huntMasterClues, .huntMasterLocations, .huntMasterLeader {
  padding: 0 7px 15px 19px;
  margin: 4px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 22%;
  background: #404853;
  background: linear-gradient(#FEFFC4, #FADE6C);
  text-align: right;
  /*height: 0px;*/
}

.huntMasterNav {
  padding: 0 7px 15px 19px;
  margin: 3px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 22%;
  background: #404853;
  background: linear-gradient(#FEFFC4, #FADE6C);
  text-align: right;
  /*height: 0px;*/
}

.huntDetails p, .huntClues p, .huntMap p, .huntLeader p, .huntMasterTabs p {
  font-size: 100%;
  margin: 10px 4% 0 0;
}

.huntDetails:hover, .huntClues:hover, .huntMap:hover, .huntLeader:hover, .huntMasterNav:hover {
  background: #454d59;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #d0d2d5;
}


.huntMasterDisplay, .createHunt {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  /*border-radius: 3px;*/
  /*padding: 10px;*/
  /*margin-top: 11px;*/
  /*background: linear-gradient(#A3A3A3, #EDEDED);*/
  width: 80%;
  height: 80%;
  margin-bottom: 10px;
}

 /*space on sides of add locations map*/
.mapView {
  padding: 0 25px 0 25px;
}

.bottomSpacer {
  width: 100%;
  height: 100px;
}

#user_email, #user_password, #sign_in_form {
  border-bottom: 20px;
}

 /*responsive queries*/

@media (min-width: 100px) and (max-width: 659px) {

  .huntTabs li, .huntMasterTabs li {
    font-size: 15px;
    margin: auto;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 3px;
  }

  .huntTitle {
    font-family: 'Glass Antiqua';
    font-size: 35px;
    font-style: bold;
    margin: 4px 0 5px 0;
    text-align: left;
    letter-spacing: 10px;
  }

  .subtitle {
    font-size: 18px;
    margin: 5px 50px 0 40px;
    text-align: center;
  }

  .compass {
    display: none;
  }

  .authent, .notice, .alert, .authent a {
  display: inline;
  float: right;
  padding-right: 10px;
  }

  .createHunt {
    margin-left: 10px;
    margin-bottom: 65px;
  }

  .createHunt, .huntDisplay, .huntMasterView {
    margin-bottom: 65px;
  }

  .huntDiplay ul li {
    font-size: 20px
  }

  ul.details {
    font-size: 20px;
    width: 80%;
  }

  .resizedTextbox{
    width: 260px;
  }

  .resizedParticipantTextbox {
    width: 180px;
  }

  #currentLocButton, #searchButton {
    height: 29px;
  }

}
