/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



header {
  background-color: gold;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

body {
  font-family: futura;
}

.authent {
  float: right;
}

#container {
  width: 95%;
/*  border: 2px solid black;
  border-radius: 5px;*/
  padding: 10px;
  margin: 25px;
}

.huntTitle {
  font-family: 'Finger Paint';
  font-size: 25px;
  letter-spacing: 10px;
  /*background-image: url('compass.png');*/
}

.display {
  display: none;
}

#map-canvas {
width: 600px;
height: 500px;
}

#huntMap {
width: 600px;
height: 500px;
}

.huntDisplay {
  background: lightblue;
  height: 100%;
}

.huntTabs {
  list-style: none;
  display: flex;
}


.huntTabs:hover {
  cursor: pointer;

}

.huntDetails, .huntClues, .huntMap, .huntLeader {
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  width: 25%;
  background: #404853;
  background: linear-gradient(#687587, #404853);
  text-align: center;
}

.huntDetails:hover, .huntClues:hover, .huntMap:hover, .huntLeader:hover {
  background: #454d59;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #d0d2d5;
}

.huntDetails {
  /*background: lightgreen;*/
}

.huntClues {
   /*background: violet;*/
}

.huntMap, .map {
   /*background: lightyellow;*/
}

.huntLeader, .leaders {
  /*background: lightpink;*/
}


li:hover {
  cursor: pointer;
}


